<header>
    <div>  
      <button id="toggle-sidebar-btn" onclick="toggleSidebar()" style="background-color:#1f3559 ;color:white;">
        ☰ <!-- This is the symbol for the navigation menu -->
      </button>             
        <a href="/home" style="margin-top: 0px;">          
            <img src="img/etb.png" alt="Company Logo" class="logo1" >
          </a> 
    </div>           
    <span id="user-info">
        Login as <strong>&nbsp;&nbsp;<%= username %></strong>
        <img src="/img/emp (23).png" alt="Profile Image">
    </span>
    <button id="logout-btn" onclick="logout()">
        <img src="img/output-onlinepngtools.png" alt="Logout Image">
      </button>
</header>